insight-engine.duckdns.org {
    root * /web-app
    try_files {path} /index.html
    file_server
}

api-insight-engine.duckdns.org {
    reverse_proxy 172.17.0.1:3000
}

metabase-insight-engine.duckdns.org {
    reverse_proxy metabase:3000
}

pgadmin-insight-engine.duckdns.org {
    reverse_proxy pgadmin:80
}
