insight-engine.duckdns.org {
    reverse_proxy host.docker.internal:4200
}

api-insight-engine.duckdns.org {
    reverse_proxy host.docker.internal:3000
}

metabase-insight-engine.duckdns.org {
    reverse_proxy metabase:3000
}
